.CollectionCard{
    color: #fff;
    background-color: #1a1c1e ;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 30px;
    width: 300px;
    height: 500px;
    margin-top: 20px;
 }
 
 .CollectionCard >img {
     width: 100%;
 }

 .details {
     padding: 20px;
 }

 .name {
     font-size: 30px;
     font-weight: 900;
 }

 .id{
     color: #a1a5b0;
     font-size:18px ;
     font-weight: 600;
 }

 .priceContainer{
     display: flex;
     align-items: center;
     margin-top: 10px;
     object-fit: contain;
 }

 .price {
     margin-left: 5px;
     font-weight: 600;
     
 }

 .wethImage {
     position: relative;
 }